<form class="form" (submit)="add(taskTitle.value); taskTitle.value=''">
    <div class="form-group">
        <input #taskTitle class="form-control" placeholder="Task Name" />
    </div>
    <input type="submit" value="Submit" class="btn btn-success btn-lg btn-block">
</form>

<div class="jumbotron">
    <input type="text" [(ngModel)]="searchValue">
    <select name="filterValue" [(ngModel)]="filterValue">
        <option [ngValue]="true">Checked</option>
        <option [ngValue]="false">Not Checked</option>
        <option [ngValue]="undefined">All</option>
    </select>
    <div *ngIf="!tasks.length">No tasks yet!</div>
    <ul *ngFor="let task of tasks | filter:'isChecked':filterValue | filter:'title':searchValue">
        <li class="text-left">
            <input class="inp-check" [(ngModel)]="task.isChecked"  (change)="update(task)" type="checkbox">
        </li>
        <li class="text-center">
            <a (click)="edit(task)">
                <span *ngIf="task!==editTask">{{task.title}}</span>
                <input class="inp" *ngIf="task===editTask" [(ngModel)]="task.title" (blur)="update(task)" (keyup.enter)="update(task)">
            </a>
        </li>
        <li class="text-right">
            <button class="btn btn-danger" (click)="delete(task)">Delete</button>
        </li>
        <hr>
    </ul>
    
</div>

<div class="card card-body bg-light text-center">
    <span class="small">*click on item to update</span>
</div>