<form class="form" (submit)="add(taskTitle.value); taskTitle.value=''">
    <div class="form-group">
        <input #taskTitle class="form-control" placeholder="Task Name" />
    </div>
    <input type="submit" value="Submit" class="btn btn-success btn-lg btn-block">
</form>

<div class="jumbotron">
    <ul *ngFor="let task of tasks">
        <!-- <li class="text-left">
            <a (click)="edit(task)">
            <input class="inp-check" [checked]="task.isChecked" (change)="update()" type="checkbox">
            </a>
        </li> -->
        <div *ngIf="!tasks">No tasks yet!</div>
        <li class="text-center">
            <a (click)="edit(task)">
                <span *ngIf="task!==editTask">{{task.title}}</span>
                <input class="inp" *ngIf="task===editTask" [(ngModel)]="task.title" (blur)="update()" (keyup.enter)="update()">
            </a>
        </li>
        <li class="text-right">
            <button class="btn btn-danger" (click)="delete(task)">Delete</button>
        </li>
        <hr>
    </ul>
    
</div>

<div class="card card-body bg-light text-center">
    <span class="small">*click on item to update</span>
</div>