.header {
  color: white;
  background-color: black;
  padding: 20px;
  margin-bottom: 30px;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
  background-color: black;
  padding: 10px;
}