@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  font-family: 'Righteous', cursive;
}

@media screen and (max-width: 768px) {
  .functions {
    flex-wrap: wrap;
  }
  .task p {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: bold;
  }

}